@mixin clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin container {
  padding-left: $grid-offset;
  padding-right: $grid-offset;
}

@mixin container-with-limit {
  max-width: 50em;
  padding-left: $grid-offset;
  padding-right: $grid-offset;
  margin-left: auto;
  margin-right: auto;
}

@mixin center-vertical {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

@mixin box {
  border: 1px solid var(--color-text-very-light);
  border-radius: 5px;
  box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.1);
}

@mixin cursor {
  &::after {
    content: "|";
    font-weight: 300;
    color: var(--color-text-em);
    animation-name: blink;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
