@mixin clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin container {
  padding-left: $grid-offset;
  padding-right: $grid-offset;
}

@mixin container-with-limit {
  max-width: 55em;
  padding-left: $grid-offset;
  padding-right: $grid-offset;
  margin-left: auto;
  margin-right: auto;
}
