:root {
  --color-accent: var(--white-dimmed);

  --color-bg: var(--white);
  --color-bg-dark: var(--grey-dark);
  --color-bg-light: var(--red);

  --color-link: var(--red);
  --color-link-active: var(--red);

  --color-text-dark: var(--grey);
  --color-text: var(--grey-middle);
  --color-text-light: var(--grey-light);
  --color-text-lightest: var(--white);

  --color-text-em-dark: var(--red-dark);
  --color-text-em: var(--red);
  --color-text-em-light: var(--red-light);

  --color-selection: var(--red);
  --color-selection-fg: var(--white);

  --font-main: "Open Sans", "Helvetica Neue", sans-serif;
  --font-secondary: "Montserrat", Georgia, serif;
  --font-caps: "Raleway", Helvetica, sans-serif;

  --layout-gutter: 2.3rem;
  --layout-spacing: 5%;
  --layout-width-max: 960px;

  @custom-media --screen-large only screen and (width >= 1180px);
  @custom-media --screen-medium only screen and (width >= 600px);

  @custom-selector :--heading h1,h2,h3,h4,h5,h6;
  @custom-selector :--link a:link, a:visited;
  @custom-selector :--link-active a:hover, a:focus, a:active;
}
