footer.footer.container_fill
  .box
    h3 Navigation
    nav(role="navigation")
      ul
        li
          a(href="/pages") Home
        li
          a(href="/pages") Projects
        li
          a(href="/blog") Blog
        li
          a(href="/pages") ABout
  .box
    h3 Social
    ul
      li
        a(href="/pages/" rel="external") Twitter
      li
        a(href="/pages/" rel="external") GitHub
  small.copy.footer__copy
    span.logo Slava Pavlutin &copy; 2016
