footer.footer.container
  nav(role="navigation").nav
    ul
      li.nav__item
        a(href="/") Home
      li.nav__item
        a(href="/projects") Projects
      li.nav__item
        a(href="/blog") Blog
      li.nav__item
        a(href="/contact") Contact
  nav.nav
    ul
      li.nav__item
        a(href="/pages/" rel="external") Twitter
      li.nav__item
        a(href="/pages/" rel="external") GitHub
  small.copy.footer__copy
    span.logo Slava Pavlutin &copy; 2016
