header.header.container
  .menu-container
  h1.logo.header__logo
    a(href="/") Slava Pavlutin
  nav.nav.header__nav(role="navigation")
    ul
      li.nav__item
        a(href="/projects") Projects
      li.nav__item
        a(href="/blog") Blog
      li.nav__item
        a(href="/contact") Contact
