.footer {
  overflow: hidden;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 0.9em;
  color: var(--color-text);

  :--heading {
    font-size: 2em;
    color: var(--color-text);
  }
}

.footer__copy {
  clear: both;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  color: var(--color-text-light);

  @media (--screen-medium) {
    width: 100%;
  }
}
