.footer {
  @include container;

  margin-bottom: 0.5em;
  color: var(--color-text);

  :--heading {
    font-size: 2em;
    color: var(--color-text);
  }

  .nav__item {
    a {
      color: var(--color-text);

      &:hover {
        color: var(--color-link);
      }
    }
  }
}

.footer__copy {
  clear: both;
  display: block;
  font-size: 0.7em;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-text-light);
}
