/* Theme */

.header {
  font-family: var(--font-caps);
  background-color: var(--color-bg);
  color: var(--color-text-light);
}

.header_theme_inverse {
  background-color: var(--color-bg-dark);
  color: var(--white);

  & .header__menu:after, .header__menu:before {
    background-color: var(--color-bg);
  }

  & .header__logo {
    & a:link, & a:visited {
      color: var(--color-text-lightest);
    }

    & a:hover, & a:active {
      color: var(--color-text-em);
    }
  }

  & .header__nav {
    & a:link, & a:visited {
      color: var(--color-text-lightest);
    }

    & a:hover, & a:active {
      color: var(--color-text-em);
    }
  }
}

.header__logo {
  color: var(--color-text-light);
}

/* Display */

.header {
  overflow: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  font-size: 0.9em;
}

.header__menu {
  float: right;
}

.header__nav {
  clear: both;
  line-height: 1;

  :--link {
    color: var(--color-text);
  }

  :--link-active {
    color: var(--color-text-em);
  }
}

.header__logo {
  float: left;
  text-align: right;

  @media (--screen-medium) {
    float: left;

    & > a {
      display: block;
      padding: 1.25em 0;
    }
  }
}

/* JS Enabled */

.js {
  .header {
    transition: 0.3s;
  }

  .header__nav {
    width: 0;
    height: 0;
    transform: scaleX(0);
    transition: transform 0.3s;
  }

  .header_fullscreen {
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
  }

  .header_fullscreen > .header__nav {
    position: absolute;
    top: calc(50% - 10em);
    left: 5%;
    width: 80%;
    height: auto;
    padding-left: 1em;
    padding-right: 1em;
    transform: scaleX(1);
  }
}


@media (--screen-medium) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header__nav {
    float: right;
    clear: none;
  }

  .header__menu {
    display: none;
  }

  .header__logo {
  }

  .js {
    .header__nav {
      display: block;
      transform: none;
      width: auto;
      height: auto;
    }
  }
}
