.header {
  box-sizing: border-box;
  overflow: auto;
  margin-left: $grid-gutter;
  margin-right: $grid-gutter;
  font-size: 0.9em;
  font-family: var(--font-caps);
  color: var(--color-text-light);
}

.header__menu {
  float: left;
  width: grid-col(6);
  line-height: 1;
  text-align: right;
  color: var(--color-text);

  @media (--screen-medium) {
    width: grid-col(2);
  }
}

.header__menu__icon {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  cursor: pointer;

  &:hover {
    color: var(--color-text-em);
  }
}

.header__nav {
  display: none;
  line-height: 1;

  a:link,
  a:visited {
    color: var(--color-text);
  }

  a:hover,
  a:active,
  a:focus {
    color: var(--color-text-em);
  }

  a.active {
    font-weight: 600;
    cursor: default;

    &:hover,
    &:active,
    &:focus {
      color: var(--color-text);
    }
  }

  @media (--screen-medium) {
    display: block;
    float: left;
    width: grid-col(6);
    padding-top: 0;
    padding-bottom: 0;
    text-align: right;
  }
}

.header__logo {
  float: left;
  width: grid-col(6);
  color: var(--color-text-light);

  & > a {
    display: inline-block;
    padding: 1.5em 0;
  }

  @media (--screen-medium) {
    width: grid-col(4);
  }
}
