extend layout
block content
  main.container
    h1 Contact
    p You can contact with me by the following resources:
    ul
      li 
        a(href="mailto:sl.pavlutin@gmail.com") Email
      li 
        a(href="http://twitter.com/SlavaPavlutin") Twitter
      li 
        a(href="https://github.com/slavapavlutin") GitHub
