extend layout

block content
  section.container
    h1.title__main Frontend Developer
  main.container
    h1 Technologies
    p I use modern technologies to build quality web sites and applications.
    ul.list
      li HTML 5 to write semantic markup and give a web application meaning not only for humans but also for computers.
      li CSS to make your web application beautiful.
