extend layout

block content
  section.container.app
    h1.title__main Frontend Developer
  main.container
    h2 Projects
    p I use modern technologies to build quality web sites and applications.
    ul.list
      li HTML 5 to write semantic markup and give a web application meaning not only for humans but also for computers.
      li CSS to make your web application beautiful.
    h2 Templates
    p Here's a list of the templates I coded.
    ul.list
      li First Template
      li Second Template
    h2 Blog
    p Read what I write in order to understand what I think.
