extend layout

block content
  section.container.hero
    hgroup.hero__title.title.title_theme_bare
      h1.title__main Frontend Development
      h2.title__secondary From Problems to Solutions
  main.container
    h3 What I do
    p= helpers.lorem()
