extend layout

block content
  section.container.hero
    hgroup.title.title_theme_bare.hero__title
      h1.title__main Frontend Development
      h2.title__secondary From Problems to Solutions
  main.container
    h3 What I Do
    p= lorem()
