a.button {
  color: var(--color-text);

  &:hover {
    border-color: var(--color-text-em);
    color: var(--color-text-em);
  }
}

.btn-menu {
  display: block;
  background: transparent;
  position: relative;
  width: 2.3em;
  height: 1.7em;
  padding: 0;
  border: 0;
  margin: 0;
  color: transparent;
  cursor: pointer;

  &:before, &:after {
    background: var(--color-text);
    backface-visibility: hidden;
    content: '';
    width: 2.3em;
    height: 2px;
    left: 0;
    transition: 0.35s;
  }

  &:before {
    position: absolute;
    box-shadow: var(--color-text) 0 0.72em 0 0;
    top: 0;
  }

  &:after {
    position: absolute;
    top: calc(100% - 3px);
  }

  &.btn-menu_active {
    &:before {
      box-shadow: transparent 0 0 0 0;
      top: 41%;
      transform: rotate(225deg);
    }

    &:after {
      top: 41%;
      transform: rotate(315deg);
    }
  }
}
