a.button {
  position: relative;
  overflow: hidden;
  display: block;
  border-width: 2px;
  border-color: var(--color-text-light);
  text-decoration: none;
  font-weight: 400;
  font-size: 0.7em;
  height: auto;
  color: var(--color-text-middle);
  transition: 0.4s;
  transition-delay: 0.25s;

  &:focus,
  &:hover {
    border-color: var(--color-text-dark);
    color: var(--color-text-lightest);
    transition: none;

    &::after {
      width: 140%;
    }
  }

  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background: var(--color-text-dark);
    transition: 0.4s;
    transform: skewX(45deg);
    transform-origin: bottom left;
  }

  @media (--screen-medium) {
    display: inline-block;
  }
}
