.codeblock {
  @include box;

  overflow: hidden;
  background: white;
  margin: 1em 0;
}

.codeblock__nav {
  padding: 0.3em 1em;
  border-top: 1px solid var(--color-border);
  background: #F7F7FA;
  text-align: right;
  text-transform: uppercase;
  font-size: 0.8em;
  color: var(--color-text-middle);
}

// Syntax Highlighting

code[class*="language-"],
pre[class*="language-"] {
  border: 0;
  color: var(--color-text);
  background: none;
  font-family: var(--font-code);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

code[class*="language-"] {
  padding: 0;
  margin: 1em;
}

/* Code blocks */
pre[class*="language-"] {
  overflow: auto;
  padding: 0;
  margin: 0;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: white;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  border-radius: 0.3em;
  white-space: normal;
  word-wrap: break-word;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--color-text-light);
}

.token.punctuation {
  color: var(--color-text);
}

.namespace {
  opacity: 0.7;
}

.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #F92672;
}

.token.tag {
  color: #63a35c;
}

.token.boolean,
.token.number {
  color: var(--cyan);
}

.token.property,
.token.char,
.token.builtin,
.token.inserted {
  color: #0086b3;
}

.token.attr-value,
.token.string {
  color: #183691;
}

.token.selector,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a71d5d;
}

.token.atrule,
.token.attr-name,
.token.function {
  color: var(--white);
  color: #795da3;
}

.token.keyword {
  color: #a71d5d;
}

.token.regex,
.token.important {
  color: #FD971F;
}

.token.important,
.token.bold {
  font-weight: 600;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
