.nav {
  overflow: auto;

  & > ul {
    overflow: auto;
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.nav__item {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--color-text-light);

  &:last-child {
    border: 0;
  }

  & > a {
    display: block;
    padding: 2em 0;
    text-decoration: none;

    &:hover {
      color: var(--color-text-em);
    }
  }
}

@media (--screen-medium) {
  .nav__item_animated {
    overflow: hidden;
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0.75em;
      width: 100%;
      height: 2px;
      background-color: var(--color-bg-light);
      transform: scaleX(-0.1);
    }

    &:before {
      transform-origin: right;
      transition: transform 0.3s cubic-bezier(.7,.2,.2,.9);
    }

    &:after {
      transform-origin: left;
      transition: transform 0s ease-out;
    }

    &:hover:before, &.active:before {
      transform: scaleX(1);
      transition: transform 0s;
      opacity: 0;
    }

    &:hover:after, &.active:after {
      transform: scaleX(1);
      transition: transform 0.3s cubic-bezier(.7,.2,.2,.9);
    }
  }

  .nav__item {
    display: inline-block;
    border: 0;
    margin-left: 1.7em;

    &:first-child {
      margin-left: 0;
    }

    & > a {
      padding: 1em 0;
      line-height: 1.9;
    }
  }
}
