.overlay {
  border-top: 3px solid transparent;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 100%;
  right: -100%;
  bottom: 0;
  overflow-y: auto;
  background: black;
  transition-property: transform opacity;
  transition-duration: 0.45s;
  transition-timing-function: cubic-bezier(0.8, 0.4, 0.4, 0.8);
}

.overlay__wrapper {
  @include container;

  display: flex;
  height: 100%;
  height: calc(100% - 3px);
  flex-direction: column;
}

.overlay__header {
  overflow: visible;
}

.overlay__footer {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.45s;
  transition-delay: 0s;

  & a:link,
  & a:visited {
    color: var(--color-text);
  }

  & a:hover,
  & a:focus,
  & a:active {
    color: var(--color-text-light);
  }

  .nav__item {
    border-color: var(--color-text-dark);
  }
}

.overlay_visible {
  visibility: visible;
  display: block;
  transform: translateX(-100%);

  & .overlay__nav__item {
    opacity: 1;
  }

  & .overlay__nav__item:nth-child(1) {
    transition-delay: 0.5s;
  }

  & .overlay__nav__item:nth-child(2) {
    transition-delay: 0.6s;
  }

  & .overlay__nav__item:nth-child(3) {
    transition-delay: 0.7s;
  }

  & .overlay__nav__item:nth-child(4) {
    transition-delay: 0.8s;
  }

  & .overlay__nav__item:nth-child(5) {
    transition-delay: 0.9s;
  }

  & .overlay__nav__item:nth-child(6) {
    transition-delay: 1s;
  }

  & .overlay__footer {
    opacity: 1;
    transition-delay: 1.1s;
  }
}

.overlay__logo {
  float: left;
  width: grid-col(6);

  & > a {
    padding-top: 1.5em;
    padding-bottom: 1.5em;

    &:hover {
      color: var(--color-text-lightest);
    }
  }
}

.overlay__button {
  float: right;
  width: grid-col(6);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: right;
  cursor: pointer;
  color: var(--color-text-lightest);

  &:hover {
    color: var(--color-text-light);
  }
}

.overlay__nav {
  flex: 1;
  width: 100%;
  max-width: 55em;
  padding-top: 1.8em;
  margin: 0 auto;
  font-family: var(--font-secondary);
  font-weight: 400;

  & > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @media (--screen-medium) {
    padding-top: 2.6em;
  }
}

.overlay__nav__item {
  transition-property: transform opacity;
  transition-duration: 0.4s;
  transition-delay: 0s;
}

.overlay__nav__item_primary {
  opacity: 0;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-weight: 500;
  font-size: 3rem;

  a {
    text-decoration: none;
    color: var(--color-text-lightest);

    &:hover {
      color: var(--color-text-light);
    }
  }

  &:first-child {
    margin-top: 0;
  }

  @media (--screen-medium) {
    font-size: 2.5em;
  }
}

.overlay__nav__item_secondary {
  opacity: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1em;
  font-weight: 300;
  font-size: 1.5em;

  a {
    text-decoration: none;
    color: var(--color-text);

    &:hover {
      color: var(--color-text-light);
    }
  }
}
