.post_preview {
  .post__title, .post__meta, .post__description {
    text-align: left;
  }

  .post__description {
    font-style: normal;
    font-family: inherit;
    font-size: 1em;
  }
}

.post__meta {
  text-align: center;
  color: var(--color-text-light);
}

.post__title {
  text-align: center;
  margin-bottom: 0.1em;

  & > a {
    text-decoration: none;
    color: var(--color-text-dark);

    &:hover {
      color: var(--color-text-em);
    }
  }
}

.post__tags {
  font-size: 0.9em;
  margin-top: 1em;
}

.post__description {
  text-align: center;
  margin: 1.5em 0;
  font-style: italic;
  font-family: Georgia, serif;
  font-size: 1.17em;
  font-weight: 400;
  color: var(--color-text);
}
