.posts {
  @include clearfix;
  @include container-with-limit;

  padding: 0;

  @media (--screen-large) {
    max-width: none;
  }
}

.posts__row {
  @include clearfix;
}

.posts__post {
  margin-top: 2em;
  margin-bottom: 2em;
}

.posts__post {
  @media (--screen-large) {
    box-sizing: border-box;
    float: left;
    margin: 0;
    padding-left: 3%;

    &:first-child {
      padding-left: 0;
    }

    &:first-child:last-child,
    &:first-child:nth-last-child(2) {
      width: grid-col(8);
    }

    &:first-child:nth-last-child(2) ~ & {
      width: grid-col(4);
    }

    &:first-child:nth-last-child(3),
    &:first-child:nth-last-child(3) ~ & {
      width: grid-col($grid-cols / 3);
    }
  }
}

.post__image {
  margin: $grid-offset-vertical auto;
  width: 100%;
  max-width: 35em;
}

.post_preview {
  .post__title,
  .post__meta,
  .post__description {
    text-align: left;
  }

  .post__description {
    margin: inherit;
    font-style: normal;
    font-family: inherit;
    font-size: 1em;
  }
}

.post__meta {
  text-align: center;
  color: var(--color-text-light);
}

.post__title {
  text-align: center;
  margin-bottom: 0.1em;

  & > a {
    text-decoration: none;
    color: var(--color-text-dark);

    &:hover {
      color: var(--color-text-em);
    }
  }
}

.post__tags {
  font-size: 0.9em;
}

.post__description {
  margin: 2em 1em;
  text-align: center;
  font-style: italic;
  font-size: 1.1em;
  font-family: Georgia, serif;
  font-weight: 400;
  color: var(--color-text-dark);

  @media (--screen-medium) {
    font-size: 1.2em;
  }
}

.post__content {
  img {
    max-width: 100%;
  }
}
