.posts,
.posts__post {
  margin-top: 2em;
  margin-bottom: 2em;
}

.posts__post {
  border-bottom: 1px solid var(--color-text-light);

  &:last-child {
    border: 0;
  }
}

.post__image {
  margin: $grid-offset-vertical auto;
  width: 100%;
  max-width: 35em;
}

.post_preview {
  .post__title,
  .post__meta,
  .post__description {
    text-align: left;
  }

  .post__description {
    font-style: normal;
    font-family: inherit;
    font-size: 1em;
  }
}

.post__meta {
  text-align: center;
  color: var(--color-text-light);
}

.post__title {
  text-align: center;
  margin-bottom: 0.1em;

  & > a {
    text-decoration: none;
    color: var(--color-text-dark);

    &:hover {
      color: var(--color-text-em);
    }
  }
}

.post__tags {
  font-size: 0.9em;
}

.post__description {
  font-style: italic;
  font-size: 1.1em;
  font-family: Georgia, serif;
  font-weight: 400;
  color: var(--color-text-dark);

  @media (--screen-medium) {
    font-size: 1.2em;
  }
}

.post__content {
  img {
    max-width: 100%;
  }
}
