.projects {
  @include clearfix;

  list-style: none;
  padding: 0;
  margin: 0;
}

.projects__project {
  box-sizing: border-box;
  padding: 1em;
  background: white;
  border: 2px solid var(--color-text);
  border-radius: 3px;
  transition: all 0.4s;
  cursor: pointer;

  &:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  }
}
