@import "layout/header";
@import "layout/content";
@import "layout/footer";
@import "layout/homepage";
@import "layout/blogpage";
@import "layout/postpage";
@import "layout/projectspage";
@import "layout/pagenotfound";

body {
  background: var(--black);
}

.container {
  @include container;
}

.app {
  display: flex;
  box-sizing: border-box;
  min-height: 100vh;
  border: 3px solid var(--black);
  background: var(--white);
  flex-direction: column;
}

.app__content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

// ReactTransitionGroup
.app__content > span {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.app__header,
.app__content,
.app__footer {
  box-sizing: border-box;
  overflow: auto;
  overflow-y: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1;
}
