::selection {
  background-color: var(--color-selection);
  color: var(--color-text-lightest);
}

::placeholder {
  color: var(--color-text-light);
}

// Syntax Highlighting

code[class*="language-"],
pre[class*="language-"] {
  border: 0;
  color: var(--color-text);
  background: none;
  font-family: var(--font-code);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  @include box;

  overflow: auto;
  padding: 1em;
  margin: 0.5em 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: white;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--color-text-light);
}

.token.punctuation {
  color: var(--color-text);
}

.namespace {
  opacity: 0.7;
}

.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #F92672;
}

.token.tag {
  color: #63a35c;
}

.token.boolean,
.token.number {
  color: var(--cyan);
}

.token.property,
.token.char,
.token.builtin,
.token.inserted {
  color: #0086b3;
}

.token.attr-value,
.token.string {
  color: #183691;
}

.token.selector,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a71d5d;
}

.token.atrule,
.token.attr-name,
.token.function {
  color: var(--white);
  color: #795da3;
}

.token.keyword {
  color: #a71d5d;
}

.token.regex,
.token.important {
  color: #FD971F;
}

.token.important,
.token.bold {
  font-weight: 600;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

// ReactTransitionGroup transitions

.fade-leave {
  opacity: 1;
}

.fade-enter,
.fade-appear {
  opacity: 0.01;
}

.fade-enter.fade-enter-active,
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.35s;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 0.25s;
}
