::selection {
  background-color: var(--color-selection);
  color: var(--color-text-lightest);
}

::placeholder {
  color: var(--color-text-light);
}

// ReactTransitionGroup transitions

.fade-leave {
  opacity: 1;
}

.fade-enter,
.fade-appear {
  opacity: 0.01;
}

.fade-enter.fade-enter-active,
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.35s;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 0.25s;
}
